<div class="jumbotron">
  <h1 class="display-4">Want Burgers?</h1>
  <p class="lead">Click on the buttons below to create, devour, or discard a burger</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Devour ME!</a>
     <a class="btn btn-primary btn-lg" href="#" role="button">All finished, thanks</a>
  </p>
</div>
