
<!-- Card group -->

<div class="card-group">

  <!-- Card -->
  <div class="card">
    <img src="/assets/img/sign.jpg" class="card-img-top" alt="Card image">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text font-size-sm text-muted">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <a href="/assets/img/burger.jpg" class="btn btn-sm btn-primary">Go somewhere</a>
    </div>
  </div>

  <!-- Card -->
  <div class="card">
    <img src="/assets/img/burger2.jpg" class="card-img-top" alt="Card image">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text font-size-sm text-muted">This card has supporting text below as a natural lead-in to additional content.</p>
      <a href="./img/burger2.jpg" class="btn btn-sm btn-primary">Go somewhere</a>
    </div>
  </div>

  <!-- Card -->
  <div class="card">
    <img src="/assets/img/plate.jpg" class="card-img-top" alt="Card image">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text font-size-sm text-muted">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <a href="/assets/img/pexels-horizon-content-3915906.jpg" class="btn btn-sm btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
   


